{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'home' %}">Show my receipts</a>
            </li>
            <li>
                <a href="{% url 'category_list' %}">Show my categories</a>
            </li>
            <li>
                <a href="{% url 'account_list' %}">Show my accounts</a>
            </li>
            <li>
                <a href="{% url 'create_receipt' %}">Create a receipt</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create an account</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% else %}
            <a href="{%url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <div>
        <h1>Create Category</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
