{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'home' %}">Show my receipts</a>
            </li>
            <li>
                <a href="{% url 'account_list' %}">Show my accounts</a>
            </li>
            <li>
                <a href="{% url 'create_receipt' %}">Create a receipt</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">Create a category</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create an account</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% else %}
            <a href="{%url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>My Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td> {{ category.name }}</td>
                <td> {{ category.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
