
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>
        <meta name="keywords" content="foo,bar"/>
        <meta name="description" content="foo"/>
        <title>Receipts</title>
    </head>
    <body>
    {% block content %}
    {% endblock content %}
    </body>
</html>
