{% extends 'base.html' %}



{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <ul>
            <li>
                <a href="{% url 'category_list' %}">Show my categories</a>
            </li>
            <li>
                <a href="{% url 'account_list' %}">Show my accounts</a>
            </li>
            <li>
                <a href="{% url 'create_receipt' %}">Create a receipt</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">Create a category</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create an account</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% else %}
            <a href="{%url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for receipt in receipts %}
                    <td> {{ receipt.vendor }} </td>
                    <td> {{ receipt.total }}</td>
                    <td> {{ receipt.tax }}</td>
                    <td> {{ receipt.date|date:"m/d/y" }}</td>
                    <td> {{ receipt.category.name }}</td>
                    <td> {{ receipt.account.name }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </main>
{% endblock content %}
